.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
  background-color: #f9f9f9;
  &__content {
    flex: 2 1 90%;
  }
  &__checkbox {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  &__text {
    margin-right: 10px;
    font-size: 24px;
    user-select: none;
    word-wrap: break-word;
    @media screen and (max-width: 425px){
      font-size: 18px;
    }
  }
  &__dltBtn {
    width: 30px;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  &__done {
    text-decoration: line-through;
  }
}