@import "~bootstrap/scss/bootstrap";

$maxWidth: 768px;

.app-wrapper {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: $maxWidth;
  width: 100%;
}

.logo {
  font-size: 50px;
  font-weight: 500;
}

.header {
  position: sticky;
  top: 0;
  max-width: $maxWidth;
  width: 100%;
}

.input-container {
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #505050;
  width: 100%;
  background-color: #fff;
}

input[type='text'] {
  width: 100%;
  margin-right: 10px;
  font-size: 22px;
}

.addBtn {
  width: 50px;
  font-size: 24px;
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px 0;
  width: 100%;
}

.todo-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  background-color: #fff;
  border-bottom: 1px solid #505050;

  &__total {
    font-weight: 500;
    margin-right: 10px;
    color: #505050;
  }

  &__done {
    font-weight: 500;
    margin-right: 10px;
    color: #28a745;
  }

  &__left {
    font-weight: 500;
    margin-right: 10px;
    color: #cc1818;
  }
}